body {
    margin: 0px;
	font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
    color: #111;
}

a {
	color: #1756a9;
	text-decoration: none;
}

code {
	padding: .25em .5em;
    font-size: 85%;
    color: #bf616a;
    background-color: #f9f9f9;
    border-radius: 3px;
}

pre {
	background-color: #f9f9f9;
	padding-left: 8px;
	overflow-x: scroll;
}

pre code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
}


a:hover {
	text-decoration: underline;
}

a:visited {
	color: #2a7ae2;
	text-decoration: none;
}

.site-header{
	border-top: 3px solid #2dceff;
	border-bottom: 1px solid #e8e8e8;
	min-height: 56px;
    position: relative;
}
.site-content{
	padding-top: 10px;
}
.site-footer{
	border-top: 1px solid #e8e8e8;
    font-size: 18px;
    margin-bottom: 15px;
	padding-top: 10px;
}

.header-text, .header-text:visited {
	text-decoration: none;
	font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
}

.wrapper{
	max-width: 800px;
	padding-right: 15px;
    padding-left: 15px;
	margin-right: auto;
    margin-left: auto;
}

.list-listing {
	list-style-type: none;
	padding: 0px;
}
.list-date {
	font-size: 14px;
    color: #828282;
}
.list-title {
	display: block;
    font-size: 24px;
}

.announcement-text {
	border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 20px;
    padding: 9px;
    font-size: 15px;
    color: #333;
    background-color: rgba(255, 102, 0, 0.57);
	display: block;
}


.announcement-text a, .announcement-text a:visited, .announcement-text a:hover {
    text-decoration: none;
    color: green;
}

hr {
    margin-top: 8px;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid #eee;
}

img {
    max-width: 100%;
}

video {
	max-width: 100%;
}

#TableOfContents ul { 
  list-style-type: none; 
  margin-left: -20px;
}

#TableOfContents ul ul { 
  list-style-type: disc; 
}

#TableOfContents {
    border: 1px solid #a2a9b1;
    background-color: #f8f9fa;
    margin-top: 15px;
}

.btn {
    color: black;
    background-color: white;
    outline: 0;
    padding: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.input_with_appended_unit input {
  padding-right: 20px;
  text-align: right;
}
.input_with_appended_unit span {
  position: relative;
  left: -20px;
  font-family: sans-serif; /* Optional, just styling it so it looks nicer */
  font-size: 12px; /* Optional, just styling it so it looks nicer */
}