{{define "main" }}
<h1>{{ .Title}}</h1>
<span class="list-date">{{ dateFormat "Jan 2, 2006" .Date }}{{ if ne .Params.lastModified ""}}; last modified: {{ dateFormat "Jan 2, 2006" .Params.lastModified }}{{end}} • {{.Params.author }}</span>
{{ if eq .Params.toc "yes"}}
{{ .TableOfContents }}
{{end}}
{{.Content}}
{{ if eq .Params.share "yes"}}
{{ partial "single-share.html" . }}
{{end}}
{{ if eq .Params.about "yes"}}
{{ partial "single-about.html" . }}
{{end}}
{{ if eq .Params.email "yes"}}
{{ partial "single-email.html" . }}
{{end}}
{{ if eq .Params.related "yes"}}
{{ partial "single-related.html" . }}
{{end}}
{{end}}
