<hr>
<div style="text-align: center; padding-bottom: 10px;">
<h4>Share this post</h4>
<p>Liked this post? Sharing this post on your Social Media would help me out a great deal.</p>
<a style="padding-right:10px;" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank">Facebook</a>
<a style="padding-right:10px;" href="https://twitter.com/intent/tweet?text={{.Params.title}}&amp;url={{ .Permalink }}" target="_blank" title="Tweet">Twitter</a>
<a style="padding-right:10px;" href="http://www.reddit.com/submit?url={{ .Permalink }}&amp;title={{.Params.title}}" target="_blank" title="Submit to Reddit">Reddit</a>
<a style="padding-right:10px;" href="http://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink }}&title={{.Params.title}}&summary={{.Params.description}}&source={{ .Permalink }}" target="_blank">LinkedIn</a>
<a style="padding-right:10px;" href="http://news.ycombinator.com/submitlink?u={{ .Permalink }}&t={{.Params.title}}" target="_blank">Hacker News</a>
</div>